@media all and (max-width: 800px) {
    * {
        margin: 0;
        padding: 0;
    }
    body {
        font-size: 10pt;
        color: #333;
    }

    header {
        position: relative;
        clear: both;
        width: 340px;
        height: 130px;
        margin: 0 auto;
    }

    /* 헤더 상단 1행 전체 시작 */
    .header_box_all {
        position: relative;
        clear: both;
        width: 340px;
        height: 130px;
        display: grid;
        grid-template-columns: 340px;
        grid-template-rows: 50px 50px 30px;
        
    
    }
        /* 헤더 상단 1행 (global) - left */
        .header_box_all > .header_box_01 {
            position: relative;
            clear: both;
            width: 340px;
            height: 50px;
            line-height: 50px;
            top: 10px;
        }

        #header_box_01_up {
            position: relative;
            clear: both;
            width: 340px;
            height: 30px;
        }
            #sec_global {
                position: relative;
                float: left;
                width: 170px;
                height: 30px;
                line-height: 30px;
            }
                select {
                    position: relative;
                    float: left;
                    width: 100px;
                    height: 30px;
                }

            option {
                width: 50px;
                height: 30px;
            }
        #ins_all {
            width: 150px;
            height: 30px;
        }
        #ins_icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            margin-left: 10px;
        }
        #ins_icon > img {
            width: 20px;
        }
    #header_box_01_down {
        display: none;
    }

    /* 헤더 상단 1행(logo) - center */
    .header_box_all > .header_box_02 {
        position: relative;
        clear: both;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 340px;
        height: 50px;
    }
    .header_box_02 > a >  img {
        width:  300px;
    }

    /* 헤더 상단 1행 (회원가입) - right */
    .header_box_all > .header_box_03 {
        position: relative;
        clear: both;
        width: 340px;
        height: 30px;
        background: #f60;
    }
        #header_box_03_up {
            position: relative;
            clear: both;
            width: 340px;
            height: 30px;
            display: grid;
            grid-template-columns: repeat(4, 85px);
            grid-template-rows: 30px;
        }
            #txt_join, #txt_id, #txt_basket, #txt_mypage {
                line-height: 30px;
                text-align: center;
                font-size: 0.8rem;
            }

        #header_box_03_down {
            display: none;
        }
    /* 여백 삭제 */
    .gap_1400_10 {
        display: none;
    }
    /* 메인 메뉴 9개 시작 */
    .main_menu_all {
        display: flex;
        flex-flow: row wrap;
        width: 340px;
        height: 90px;
        margin: 0 auto;
    }
        .main_menu_all #menu_each {
            width: 110px; 
            /* 정확한 크기로 제작할 때는 113.33px로 변경
                340/3
            */
        }

      
        /* 여백 삭제 */
        .gap_1400_10 {
            display: none;
        }

        /* 메인 이미지 (main_img_all) 시작 */
        .main_img_all {
            position: relative;
            clear: both;
            width: 340px;
            height: 340px;
            overflow: hidden;
            margin: 0 auto;
        }

            .main_img_big {
                display: none;
            }

            .main_img_small {
                display: block;
                position: absolute;
                left: 0px;
                top: 0px;
                width: 340px;
                height: 340px;
                margin-top: 10px;
                z-index: 2;
                background: url(../img/main_title_img_02.jpg) no-repeat;
                background-size: cover;

                -webkit-animation-duration: 2s;
                -webkit-animation-name: m_01;
                -webkit-animation-iteration-count: 1;
            }

            @-webkit-keyframes m_01 {
                0% { left: 50px; top:50px; opacity: 50%;}
                100% {left: 0px; top: 0px; opacity: 100%;}
            }
            /* 여백 (w: 1400, h: 80 )은 숨김 */
            .gap_1400_80 {
                display: none;
            }
            /* 여백 (w: 340, h:10) 표시  */
            .gap_m_340_10 {
                display: block;
                position: relative;
                clear: both;
                width: 100%;
                height: 10px;
                /* background: #ddd; */
            }

            .gap_m_340_30 {
                display: block;
                position: relative;
                clear: both;
                width: 100%;
                height: 30px;
                /* background: #ddd; */
            }

            /* 상단 이미지 4개 시작 */
            section.sec_01_all {
                position: relative;
                clear: both;
                width: 340px;
                height: 1360px;
                overflow: hidden;
                margin: 0 auto;
            }
            .sec_01_all > .sec_01_box_all {
                display: flex;
                flex-flow: column nowrap;
                width: 340px;
                height: 1360px;
            }
            .sec_01_box_all > #sec_01_box_each {
                display: flex;
                flex-flow: column nowrap;
                width: 340px;
                height: 380px;
            }
            #sec_01_box_img {
                width: 340px;
                height: 280px;
            }
            #sec_01_font_01 {
                width: 340px;
                height: 30px;
                line-height: 30px;
                font-size: 1.2rem;
                font-weight: bold;
            }
            #sec_01_font_02 {
                width: 340px;
                height: 20px;
                line-height: 20px;
                font-size: 0.9rem;
                font-weight: bold;
                text-align: center;
                white-space: nowrap;
            }
            .left-slide {
                height: 100%;
            }
            .right-slide {
                height: 100%;
            }
            /* 트랜드픽 시작 */
            .sec_02_all {
                position: relative;
                clear: both;
                width: 340px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .sec_02_title-container {
                width: 340px;
                height: 50px;
                display: flex;
                flex-flow: column;
                margin-top: 50px;
            }
                .sec_02_title {
                    font-size: 2rem;
                    color: #0d0d0d;
                    margin-bottom: 5px;
                }
                .sec_02_sub_title {
                    font-size: 0.9rem;
                    font-weight: bold;
                    color: #757575;
                }
            .sec_02_box_all {
                width: 340px;
                display: flex;
                flex-flow: row;
                justify-content:center;
                align-items: center;
            }

            #sec_02_box {
                position: relative;
                display: none;
                flex-flow: column nowrap;
                width: 340px;
                height: 470px;
                margin-bottom: 10px;
            }

            #sec_02_box.selected {
                display: flex;
            }

            .more {
                position: absolute;
                right: 0;
                top: 50px;
                width: 340px;
                text-align: right;
                cursor: pointer;
            }
            .color-palette {
                width: 340px;
                height: 30px;
                column-gap: 5px;
            }
            #sec_02_box .sec_02_font_01 {
                font-size: 1rem;
            }
            
            #sec_02_box .sec_02_font_02 {
                margin: 3px 0;
             }

             /* winter season 시작 */
             .sec_03_all {
                position: relative;
                clear: both;
                width: 340px;
                margin: 0 auto;
                
            }
            .sec_03_title-container {
                width: 340px;
                height: 50px;
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                margin-top: 50px;
            }
                .sec_03_title {
                    font-size: 2rem;
                    color: #0d0d0d;
                    margin-bottom: 5px;
                }
                .sec_03_sub_title {
                    font-size: 0.9rem;
                    font-weight: bold;
                    color: #757575;
                }
            
            .sec_03_box_all {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                width: 340px;
            }
            #sec_03_box {
                position: relative;
                display: none;
                flex-flow: column nowrap;
                width: 340px;
                height: 470px;
                margin-bottom: 10px;
            }
            #sec_03_box.selected {
                display: flex;
            }
        
            #sec_03_box .sec_03_font_01 {
                font-size: 1rem;
            }
            
            #sec_03_box .sec_03_font_02 {
                margin: 3px 0;
            }

            #sec_03_box .sec_03_font_03 {
                font-weight: bold;
                font-size: 1rem;
                display: flex;
                align-items: center;
           }
       
           #sec_03_box .sec_03_font_04 {
               margin-top: 5px;
               font-size: 0.8rem;
           }

        /* weekly best 제목 시작 */
        .title_weekly {
            position: relative;
            clear: both;
            width: 340px;
            height: 50px;
            color: #333;
            font-size: 1.5rem;
            text-align: center;
            line-height: 50px;
            margin: 0 auto;
            background: #ddd;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    
       

}
